{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:home' %}">
            <img
                src="{% static 'images/logo.png' %}"
                alt="logo"
                class="image-fluid"
                width="32"
                height="32"
            />
            Blog
        </a>

        {% if not user.is_authenticated %}

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto gap-3">
                <li class="nav-item">
                    <a
                        class="btn btn-outline-primary"
                        aria-current="page"
                        href="{% url 'user:login' %}"
                    >Log in</a>
                </li>
                <li class="nav-item">
                    <a
                        class="btn btn-primary"
                        aria-current="page"
                        href="{% url 'user:register' %}"
                    >Create Account</a>
                </li>
            </ul>

        {% else %}

            {% comment %} <div class="d-flex gap-2 align-items-end" >
                <p class="mb-0">{{ user.username }}</p>
                <img
                    src="{{ MEDIA_URL }}{{ user.profile_photo }}"
                    alt="{{ blog.user.username }}"
                    class="image-fluid rounded-circle align-self-center"
                    width="30"
                    height="30"
                    loading="lazy"
                >
            </div>


            <div class="dropdown">
                <button class="btn dropdown-toggle d-flex align-items-end" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div class="d-flex gap-2 align-items-end" >
                        <p class="mb-0">{{ user.username }}</p>
                        <img
                            src="{{ MEDIA_URL }}{{ user.profile_photo }}"
                            alt="{{ blog.user.username }}"
                            class="image-fluid rounded-circle align-self-center"
                            width="30"
                            height="30"
                            loading="lazy"
                        >
                    </div>
                </button>
                <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Action</a>
                    <a class="dropdown-item" href="#">Another action</a>
                    <a class="dropdown-item" href="#">Something else here</a>
                </div>
            </div> {% endcomment %}


            <div class="dropdown mr-6">
                <div
                    class="d-flex gap-2 align-items-end"
                    id="dropdownMenuButton"
                    data-bs-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <p class="mb-0">{{ user.username }}</p>
                    <img
                        src="{{ MEDIA_URL }}{{ user.profile_photo }}"
                        alt="{{ blog.user.username }}"
                        class="image-fluid rounded-circle align-self-center"
                        width="30"
                        height="30"
                        loading="lazy"
                    >
                </div>
                <div class="dropdown-menu nav__dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Create a post</a>
                    <a class="dropdown-item sign-out" href="{% url 'user:logout' %}">Sign Out</a>
                </div>
            </div>





        {% endif %}

    </div>
</nav>
