{% load static %}


<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'blog:home' %}">
            <img
                src="{% static 'images/logo.png' %}"
                alt="logo"
                class="image-fluid"
                width="32"
                height="32"
            />
            Blog
        </a>

        {% if not user.is_authenticated %}

            <ul class="navbar-nav mb-2 mb-lg-0 ms-auto gap-3">
                <li class="nav-item">
                    <a
                        class="btn btn-outline-primary mr-3"
                        aria-current="page"
                        href="{% url 'user:login' %}?next={{ request.get_full_path|urlencode }}"
                    >Log in</a>
                </li>
                <li class="nav-item">
                    <a
                        class="btn btn-primary"
                        aria-current="page"
                        href="{% url 'user:register' %}?next={{ request.get_full_path|urlencode }}"
                    >Create Account</a>
                </li>
            </ul>

        {% else %}


            <div class="dropdown mr-6">
                <div
                    class="d-flex gap-2 align-items-end pointer"
                    id="dropdownMenuButton"
                    data-toggle="dropdown"
                    aria-haspopup="true"
                    aria-expanded="false"
                >
                    <p class="mb-0">{{ user.username }}</p>


                    {% include 'components/profile_photo.html' with user=user %}

                </div>
                <div class="dropdown-menu nav__dropdown" aria-labelledby="dropdownMenuButton">
                    <a class="dropdown-item" href="#">Create a post</a>
                    <a class="dropdown-item sign-out" href="{% url 'user:logout' %}">Sign Out</a>
                </div>
            </div>

        {% endif %}

    </div>
</nav>
