@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@700&display=swap');

.fs-smaller {
    font-size: smaller !important;
}


.poppins {
    font-family: 'Poppins', sans-serif;
    font-weight: bold;
}

.link {
    text-decoration: none !important;
    color: #000;
    font-size: 1.6rem;
}

.link:hover {
    color: var(--blue);
    cursor: pointer;
}

.card-content > img {
    width: 100%;
}

.nav__dropdown {
    left: -115px !important;
}

.sign-out {
    color: var(--red) !important;
}

.gap-2 {
    gap: 10px;
} 

.pointer {
    cursor: pointer;
} 

.form {
    max-width: 60%;
    margin: 0 auto;
}

.form__button {
    display: flex;
    justify-content: flex-end;
}

@media screen and (max-width: 720px) {
    .form {
        max-width: 90%;
    }
}