{% extends 'partials/_base.html' %}

{% load editorjs %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container mt-5">
        <form
            data-create-post
            action=""
            method="POST"
            class='d-flex flex-column justify-center align-items-center w-100'
        >
            {% csrf_token %}
            {{form|crispy}}
            <button class="btn btn-primary align-self-end">submit</button>
        </form>
    </div>
{% endblock content %}
