{% extends 'partials/_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}


    <div class="container gap-2 d-flex flex-column my-4">

        {% comment %} List of blogs {% endcomment %}
        {% for b in blog %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-content-center mb-4">

                        {% include 'components/profile_photo.html' with user=b.user %}

                        <div class="d-flex flex-column mx-2 items-center">
                            <p class="mb-0 fw-bold fs-smaller">{{ b.user.username }}</p>
                            <p class="fw-light text-muted mb-0 fs-smaller">
                                {{ b.created_at|date:"M d" }}
                            </p>
                        </div>


                    </div>
                    <a
                        class="card-title fw-bold poppins link"
                        href="{% url 'blog:detail' b.pk %}"
                    >{{ b.title }}</a>
                </div>
            </div>
        {% endfor %}

        {% include 'blog/components/pagination.html' with page=page_obj %}

    </div>

{% endblock content %}
