{% extends 'partials/_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}


    <div class="container gap-2 d-flex flex-column my-4">

        {% comment %} List of blogs {% endcomment %}
        {% for b in blog %}
            <div class="card">
                <div class="card-body">
                    <div class="d-flex align-content-center mb-4">

                        {% if b.user.profile_photo %}
                            <img
                                src="{{ MEDIA_URL }}{{ b.user.profile_photo }}"
                                alt="{{ b.user.username }}"
                                class="image-fluid rounded-circle align-self-center"
                                width="30"
                                height="30"
                                loading="lazy"
                            />
                        {% else %}
                            <img
                                src="https://res.cloudinary.com/practicaldev/image/fetch/s--0m8Rs-k9--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/693571/b775ae4a-708a-43f7-aab3-343bcb1b9c2a.png"
                                alt="{{ b.user.username }}"
                                class="image-fluid rounded-circle align-self-center"
                                width="30"
                                height="30"
                                loading="lazy"
                            />
                        {% endif %}

                        <div class="d-flex flex-column mx-2 items-center">
                            <p class="mb-0 fw-bold fs-smaller">{{ b.user.username }}</p>
                            <p class="fw-light text-muted mb-0 fs-smaller">
                                {{ b.created_at|date:"M d" }}
                            </p>
                        </div>


                    </div>
                    <a
                        class="card-title fw-bold poppins link"
                        href="{% url 'blog:detail' b.pk %}"
                    >{{ b.title }}</a>
                </div>
            </div>
        {% endfor %}

        {% include 'blog/components/pagination.html' with page=page_obj %}

    </div>

{% endblock content %}
