{% extends 'partials/_base.html' %}

{% block title %}Home{% endblock title %}

{% block content %}
  <p>welcome {{user.username}}</p>
  
  {% if user.is_authenticated %}

  <a href="{% url 'user:logout' %}">Logout</a>

  {% else %}
  <a href="{% url 'user:register' %}">Register</a>
  <a href="{% url 'user:login' %}">Login</a>

  {% endif %}


    {% for b in blog %}
      <p>
        {{b.title}}
        {{b.user.username}}
      </p>
    {% endfor %}


   <div class="pagination">
    <span class="step-links">
        {% if page_obj.has_previous %}
            <a href="?page=1">&laquo; first</a>
        {% endif %}

        <span class="current">
            Page {{ page_obj.number }} of {{ page_obj.paginator.num_pages }}.
        </span>

        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}">next</a>
        {% endif %}
    </span>
</div>




{% endblock content %}
