{% extends 'partials/_base.html' %}

{% load editorjs %}
{% load crispy_forms_tags %}

{% block content %}
    <div class="container my-5">
        <form
            data-create-post
            action=""
            method="POST"
            class='d-flex flex-column justify-center align-items-center w-100'
        >
            {% csrf_token %}
            {{form|crispy}}

            <div class="d-flex justify-content-end">
                {% if blog.is_private %}
                    <a class="btn btn-outline-primary mr-2" href="{% url 'blog:publish' blog.pk %}">Publish</a>
                {% else %}
                    <a class="btn btn-outline-primary mr-2" href="{% url 'blog:publish' blog.pk %}">Unpublish</a>
                {% endif %}

                <button class="btn btn-primary align-self-end">save</button>
            </div>

        </form>
    </div>
{% endblock content %}
