{% if user.profile_photo %}
    <img
        src="{{ user.profile_photo.url }}"
        alt="{{ user.username }}"
        class="image-fluid rounded-circle align-self-center"
        width="30"
        height="30"
        loading="lazy"
    >
{% else %}
    <img
        src="https://res.cloudinary.com/practicaldev/image/fetch/s--0m8Rs-k9--/c_fill,f_auto,fl_progressive,h_90,q_auto,w_90/https://dev-to-uploads.s3.amazonaws.com/uploads/user/profile_image/693571/b775ae4a-708a-43f7-aab3-343bcb1b9c2a.png"
        alt="{{ user.username }}"
        class="image-fluid rounded-circle align-self-center"
        width="30"
        height="30"
        loading="lazy"
    />
{% endif %}
